In [1]:
import pandas as pd
import numpy as np

In [2]:
# Both methods are used to aggregate a df
df = pd.DataFrame(
    {'a': [1,2,3,1,2,3],
     'b': [1,1,1,2,2,2],
     'c': np.random.rand(6)}
     )
df

   a  b         c
0  1  1  0.504619
1  2  1  0.405371
2  3  1  0.362521
3  1  2  0.122497
4  2  2  0.977708
5  3  2  0.572582

In [3]:
# pivot_table() creates a table where 'a' is on the row axis
# 'b' on the column axis and the values are the sum of 'c'

pd.pivot_table(df, index='a', columns='b', values='c', aggfunc='sum')

b         1         2
a
1  0.504619  0.122497
2  0.405371  0.977708
3  0.362521  0.572582

In [4]:
# using groupby the dimensions given are placen into columns,
# and rows are created for each combination of those dimensions

df.groupby(['a', 'b'])['c'].sum()

a  b
1  1    0.504619
   2    0.122497
2  1    0.405371
   2    0.977708
3  1    0.362521
   2    0.572582
Name: c, dtype: float64

In [5]:
# by ommiting 'c' you can create a df instead of a series
df.groupby(['a', 'b']).sum()

            c
a b
1 1  0.504619
  2  0.122497
2 1  0.405371
  2  0.977708
3 1  0.362521
  2  0.572582