<a href="https://colab.research.google.com/github/gon-olmedo/data-science-cookbook/blob/main/List_comprehension_and_Lambda_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# we will create a list of squares using a loop
squares = []

for x in range(7):
  squares.append(x**2)
  print(x, '->', squares[x]) # printing what the loop is doing for educatinal purposes

print('\nlist:',squares)

0 -> 0
1 -> 1
2 -> 4
3 -> 9
4 -> 16
5 -> 25
6 -> 36

list: [0, 1, 4, 9, 16, 25, 36]

In [7]:
# you can accomplish the same lop with list comprehension

[x**2 for x in range(7)]

[0, 1, 4, 9, 16, 25, 36]

In [12]:
# You can add conditions to a list comprehension
[x**2 for x in range(7) if x % 2 == 0]

[0, 4, 16, 36]

In [8]:
# or using a lambda function

list(map(lambda x: x**2, range(7)))

[0, 1, 4, 9, 16, 25, 36]

In [10]:
# breakdown of lambda function
(list( # convert to list what is in the argument
    map( # map value1 -> value2 given a relation such as function or dictionary
        lambda x: x**2, # value1 of map, create on the fly function -> f(x): x^2
        range(7) # value2 of map, is the input for the lambda function
        )
    )
)

[0, 1, 4, 9, 16, 25, 36]