# How to work with groupby and multi-index

In [1]:
import pandas as pd
import numpy as np

In [2]:
# import data
flights = pd.read_csv('flights.csv')
flights.head(3)

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0

find the total and average miles flown, and the maximum and minimum arrival delay for each airline for each weekday