# How to work with groupby and multi-index

In [1]:
import pandas as pd
import numpy as np

In [2]:
# import data
flights = pd.read_csv('flights.csv')
flights.head(3)

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0

find the total and average miles flown, and the maximum and minimum arrival delay for each airline for each weekday

In [3]:
airline_info = (flights
    .groupby(['AIRLINE', 'WEEKDAY']) # define group by columns
    .agg({'DIST': ['sum', 'mean'],  # define agg columns + agg function
        'ARR_DELAY': ['max', 'min']})
    .astype(int) # in this case the results are interger so we save memory with astype
)

airline_info

                    DIST       ARR_DELAY
                     sum  mean       max min
AIRLINE WEEKDAY
AA      1        1455386  1139       551 -60
        2        1358256  1107       725 -52
        3        1496665  1117       473 -45
        4        1452394  1089       349 -46
        5        1427749  1122       732 -41
...                  ...   ...       ...  ..
WN      3         997213   782       262 -38
        4        1024854   810       284 -52
        5         981036   816       244 -44
        6         823946   834       290 -41
        7         945679   819       261 -45

[98 rows x 4 columns]

In [4]:
# flatten the index

# comprehension list to join the siblevels of indices
airline_info.columns = ['_'.join(x) for x in
                        airline_info.columns.to_flat_index()]

airline_info

                 DIST_sum  DIST_mean  ARR_DELAY_max  ARR_DELAY_min
AIRLINE WEEKDAY
AA      1         1455386       1139            551            -60
        2         1358256       1107            725            -52
        3         1496665       1117            473            -45
        4         1452394       1089            349            -46
        5         1427749       1122            732            -41
...                   ...        ...            ...            ...
WN      3          997213        782            262            -38
        4         1024854        810            284            -52
        5          981036        816            244            -44
        6          823946        834            290            -41
        7          945679        819            261            -45

[98 rows x 4 columns]

In [5]:
# you can reset the index to provide a line by line repetition
# on the outer index level
airline_info.reset_index()

   AIRLINE  WEEKDAY  DIST_sum  DIST_mean  ARR_DELAY_max  ARR_DELAY_min
0       AA        1   1455386       1139            551            -60
1       AA        2   1358256       1107            725            -52
2       AA        3   1496665       1117            473            -45
3       AA        4   1452394       1089            349            -46
4       AA        5   1427749       1122            732            -41
..     ...      ...       ...        ...            ...            ...
93      WN        3    997213        782            262            -38
94      WN        4   1024854        810            284            -52
95      WN        5    981036        816            244            -44
96      WN        6    823946        834            290            -41
97      WN        7    945679        819            261            -45

[98 rows x 6 columns]